/* Block */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  height: 48px;
}

/* Element */
.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 15px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}
.nav__controls {
  display: flex;
  align-items: center;
}

/* Modifier */
.nav__item--active .nav__link {
  font-weight: bold;
  color: #ff0;
}


/* Timer styling */
.nav__timer {
  display: flex;
  align-items: center;
}

.timer {
  color: white;
  font-size: 14px;
}
